/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Search icon customization */
  .navbar .bi-search,
  .aa-SubmitIcon {
    color: #F2A321 !important;
  }
  
  /* Ensure main content doesn't get hidden under navbar */
  main {
    padding-top: 16px;
  }