/* Featured Research Section Styling */

.top-banner {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  background-image: url("assets/images/hero-banner.svg");
  min-height: clamp(80px, 1vw, 112px)
}

.featured-research-section {
  padding: clamp(20px, 5vw, 40px) 0;

  .featured-tag {
    font-size: clamp(14px, 1vw, 16px);
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: clamp(10px, 2vw, 20px);
    text-transform: uppercase;
    text-align: center !important;
  }

  h1 {
    font-size: clamp(30px, 4vw, 55px);
    line-height: 1.2;
    margin-bottom: clamp(15px, 2vw, 20px);
    font-weight: 700;
    text-align: left !important;
  }

  .authors {
    font-size: clamp(16px, 1.2vw, 20px);
    margin-bottom: clamp(15px, 2.5vw, 25px);
    text-align: left !important;
    font-weight: 500 !important;
    line-height: 1.5;
  }

  p {
    font-size: clamp(14px, 4vw, 16px);
    line-height: 1.5;
  }

  .read-more-btn {
    display: inline-block;
    border: 1px solid $primary-color;
    border-radius: 30px;
    color: $primary-color;
    padding: clamp(6px, 1vw, 8px) clamp(16px, 2vw, 24px);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    background-color: $secondary-color;
    font-size: clamp(14px, 1vw, 16px);

    &:hover {
      background-color: $primary-color;
      color: white;
    }
  }
}
