/* Featured Research Section Styling */

.featured-research-section {
  padding: clamp(1.25rem, 3vw, 2.5rem) 0;
  border-bottom: 1.5px solid $primary-color;

  .featured-tag {
    font-size: clamp(1rem, 0.5rem + 1vw, 1.25rem);
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: clamp(1rem, 3vw, 1.25rem);
    line-height: clamp(1rem, 0.5rem + 1vw, 1.25rem);
    text-transform: uppercase;
    text-align: center !important;
  }

  h1 {
    font-size: clamp(30px, 4vw, 56px);
    line-height: 1.2;
    margin-bottom: clamp(15px, 2vw, 20px);
    font-weight: 700;
    text-align: left !important;
  }

  .authors {
    font-size: clamp(16px, 1.2vw, 20px);
    margin-bottom: clamp(15px, 2.5vw, 25px);
    text-align: left !important;
    font-weight: 500 !important;
    line-height: 1.5;
  }

  .summary {
    font-size: clamp(16px, 1.25vw, 20px);
    margin-bottom: clamp(15px, 2.5vw, 25px);
    font-weight: 400;
    line-height: 1.5;
    color: $light-paragraph-text;
  }

  .read-more-btn {
    display: inline-block;
    border: 1px solid $primary-color;
    border-radius: 30px;
    color: white;
    padding: clamp(6px, 1vw, 8px) clamp(16px, 2vw, 24px);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    background-color: $primary-color;
    font-size: clamp(14px, 1vw, 16px);

    &:hover {
      background-color: $primary-highlight-color;
      color: white;
    }
  }
}
