/* Basic navbar styling */
.navbar {
    min-height: $navbar-height;
    padding: 0 48px;
    position: fixed;
    width: 100%;
    
    .navbar-brand img {
      height: 48px;
    }
    
    .navbar-nav .nav-link {
      color: rgba(255, 255, 255, 0.9);
      font-size: 16px;
      line-height: 17px;
      letter-spacing: 0.3px;
      padding: 8px 12px;
      
      &:hover {
        color: white;
      }
    }
    
    .navbar-nav .nav-item {
      margin: 0 8px;
    }
  }

/* Search icon color */
.navbar .bi-search {
    color: #F2A321 !important;
  }

/* Mobile adjustments */
@media (max-width: 991.98px) {
    .navbar {
      padding: 0 24px;
    }
    
    .navbar-collapse {
      background-color: $navbar-bg;
      padding: 16px;
    }
  }